htdocs/sgml-lib/html-sq.dtd

<!--	@(#)hmpro2.dtd	1.1 9/12/95 SoftQuad -->
<!--    This is the DTD as used by HoTMetaL PRO 2.0. 
	Copyright 1995 SoftQuad, Inc.

	Based on the:

        Document Type Definition for the HyperText Markup Language
		 (HTML DTD)

        $Id: html-sq.dtd,v 1.1.1.1 1998-07-25 00:00:22 gerald Exp $

	Author: Daniel W. Connolly <connolly@w3.org>
	See Also: html.decl, html-1.dtd
	  http://www.w3.org/hypertext/WWW/MarkUp/MarkUp.html
-->


<!--============ General Comments =====================================-->
<!-- The DTD used here has Highlighting and Forms set to INCLUDE. The 
     HTML3 and Netscape additions should only be made to a DTD that is 
     Level 2 conformant, ie with Highlighting and Forms turned on. It 
     makes no sense to have level 3 features without Level 1 or 
     Level 2 features in the DTD. -->
<!-- Recommended is also set to INCLUDE -->


<!--============ Feature Test Entities ========================-->

<!ENTITY % HTML.Recommended "INCLUDE"
	-- Certain features of the language are necessary for
	   compatibility with widespread usage, but they may
	   compromise the structural integrity of a document.
	   This feature test entity enables a more prescriptive
	   document type definition that eliminates
	   those features.
	-->

<![ %HTML.Recommended [
        <!ENTITY % HTML.Deprecated "IGNORE">
]]>

<!ENTITY % HTML.Deprecated "INCLUDE"
	-- Certain features of the language are necessary for
	   compatibility with earlier versions of the specification,
	   but they tend to be used an implemented inconsistently,
	   and their use is deprecated. This feature test entity
	   enables a document type definition that eliminates
	   these features.
	-->

<!--============== Braille On/Off Switch =======================-->
 
<!ENTITY % SDA.Attributes "IGNORE"
        -- Use this switch to effectively remove the ICADD
           attributes wherever they are used by themselves in a
           declaration list. Those which are part of a longer list
           of attributes are commented out.  This allows software
           which displays attributes to not display these (since
           they are all set as FIXED by this DTD).
        -->

<!--============== Imported Names ==============================-->

<!ENTITY % Content-Type "CDATA"
        -- meaning an internet media type
           (aka MIME content type, as per RFC1521)
        -->

<!ENTITY % HTTP-Method "GET | POST"
        -- as per HTTP specification, in progress
        -->

<!--========= DTD "Macros" =====================-->

<!ENTITY % heading "H1|H2|H3|H4|H5|H6">

<!ENTITY % list " UL | OL | DIR | MENU " >


<!--======= Character mnemonic entities =================-->

<!ENTITY % ISOlat1 PUBLIC
  "ISO 8879-1986//ENTITIES Added Latin 1//EN//HTML">
%ISOlat1;

<!ENTITY amp SDATA "&"     -- ampersand          -->
<!ENTITY gt SDATA ">"      -- greater than       -->
<!ENTITY lt SDATA "<"      -- less than          -->
<!ENTITY quot SDATA '"'    -- double quote       -->

<!--================ Entities for special symbols =========================-->

<!ENTITY emsp   SDATA "[emsp  ]" -- em space -->
<!ENTITY ensp   SDATA "[ensp  ]" -- en space (1/2-em) -->
<!ENTITY mdash  SDATA "[ndash ]" -- em dash -->
<!ENTITY ndash  SDATA "[ndash ]" -- en dash (1/2-em) -->
<!ENTITY nbsp   SDATA "[nbsp  ]" -- non breaking space -->
<!ENTITY shy    SDATA "[shy   ]" -- soft hyphen -->
<!ENTITY copy   SDATA "[copy  ]" -- copyright sign -->
<!ENTITY trade  SDATA "[trade ]" -- trade mark sign -->
<!ENTITY reg    SDATA "[reg   ]" -- registered sign -->


<!--========= SGML Document Access (SDA) Parameter Entities =====-->

<!-- HTML 2.0 contains SGML Document Access (SDA) fixed attributes
in support of easy transformation to the International Committee
for Accessible Document Design (ICADD) DTD
	 "-//EC-USA-CDA/ICADD//DTD ICADD22//EN".
ICADD applications are designed to support usable access to
structured information by print-impaired individuals through
Braille, large print and voice synthesis.  For more information on
SDA & ICADD:  
        - ISO 12083:1993, Annex A.8, Facilities for Braille,
	  large print and computer voice
        - ICADD ListServ
	  <ICADD%ASUACAD.BITNET@ARIZVM1.ccit.arizona.edu>
        - Usenet news group bit.listserv.easi
        - Recording for the Blind, +1 800 221 4792
-->

<![ %SDA.Attributes; [
<!ENTITY % SDAFORM  "SDAFORM  CDATA  #FIXED"
	  -- one to one mapping        -->
<!ENTITY % SDARULE  "SDARULE  CDATA  #FIXED"
	  -- context-sensitive mapping -->
<!ENTITY % SDAPREF  "SDAPREF  CDATA  #FIXED"
	  -- generated text prefix     -->
<!ENTITY % SDASUFF  "SDASUFF  CDATA  #FIXED"
	  -- generated text suffix     -->
<!ENTITY % SDASUSP  "SDASUSP  NAME   #FIXED"
	  -- suspend transform process -->
]]>

<!--========== Text Markup =====================-->

<!ENTITY % font " U | S | TT | B | I |BIG | SMALL | FONT">
<!-- blink and font are Netscape extensions, the rest HTML 3 -->

<!ENTITY % phrase "EM | STRONG | CODE | SAMP | KBD | VAR | CITE | DFN | BLINK ">

<!-- add SUP and SUB from HTML3 to the Netscape extensions -->
<!ENTITY % text "#PCDATA | A | IMG | BR | %phrase | %font | NOBR | WBR | SUB | SUP">
<!ELEMENT (SUB|SUP) - - (%text)* >

<!-- Two Netscape extensions -->
<!ELEMENT NOBR - - (%text;)*  -(NOBR) >
<!ELEMENT WBR  - O  EMPTY >

<!ELEMENT (%font;|%phrase) - - (%text)*>
<!ATTLIST font size CDATA #REQUIRED >
<![ %SDA.Attributes; [
<!ATTLIST ( TT | CODE | SAMP | KBD | VAR )
        %SDAFORM; "Lit"
        >
<!ATTLIST ( B | STRONG )
        %SDAFORM; "B"
        >
<!ATTLIST ( I | EM | CITE )
        %SDAFORM; "It"
        >
]]>

<!-- <TT>       Typewriter text                         -->
<!-- <B>        Bold text                               -->
<!-- <I>        Italic text                             -->

<!-- <EM>       Emphasized phrase                       -->
<!-- <STRONG>   Strong emphasis                         -->
<!-- <CODE>     Source code phrase                      -->
<!-- <SAMP>     Sample text or characters               -->
<!-- <KBD>      Keyboard phrase, e.g. user input        -->
<!-- <VAR>      Variable phrase or substitutable        -->
<!-- <CITE>     Name or title of cited work             -->

<!ENTITY % pre.content "#PCDATA | A | HR | BR | %font | %phrase">


<!ELEMENT BR    - O EMPTY>

<!-- <BR>       Line break      -->

<![ %SDA.Attributes; [
<!ENTITY % br.sda "%SDAPREF; '&#RE;'">
]]>
<!ENTITY % br.sda "">

<!ATTLIST BR
	clear CDATA #IMPLIED
        %br.sda;
        >
<!-- Netscape accepts values left, right, all -->

<!--========= Link Markup ======================-->

<!ENTITY % linkType "NAMES">

<!ENTITY % linkExtraAttributes
        "METHODS NAMES #IMPLIED
        REL %linkType #IMPLIED
        REV %linkType #IMPLIED
        URN CDATA #IMPLIED
        TITLE CDATA #IMPLIED
        ">

<![ %HTML.Recommended [
        <!ENTITY % A.content   "(%text)*"
        -- <H1><a name="xxx">Heading</a></H1>
                is preferred to
           <a name="xxx"><H1>Heading</H1></a>
        -->
]]>

<!ENTITY % A.content   "(%heading|%text)*">

<!ELEMENT A     - - %A.content -(A)>
<![ %SDA.Attributes; [
<!ENTITY % a.sda   "%SDAPREF; '<Anchor: #AttList>'">
]]>
<!ENTITY % a.sda   "">
<!ATTLIST A
        %linkExtraAttributes;
        HREF CDATA #IMPLIED
        NAME CDATA #IMPLIED
        %a.sda;
        >
<!-- <A>		Anchor; source/destination of link	-->
<!-- <A NAME="...">	Name of this anchor			-->
<!-- <A HREF="...">	Address of link destination		-->
<!-- <A URN="...">	Permanent address of destination	-->
<!-- <A REL=...>	Relationship to destination		-->
<!-- <A REV=...>	Relationship of destination to this 	-->
<!-- <A TITLE="...">	Title of destination (advisory)	 	-->
<!-- <A METHODS="...">	Operations on destination (advisory)	-->


<!--========== Images ==========================-->

<!ELEMENT IMG    - O EMPTY>

<!ENTITY % img.align "left|right|top|texttop|middle|absmiddle|baseline|
			bottom|absbottom">
<!-- top, middle, bottom HTML2; left, right HTML3; rest Netscape -->

<![ %SDA.Attributes; [
<!ENTITY % img.sda "%SDAPREF; '<Fig><?SDATrans Img: #AttList>#AttVal(Alt)</Fig>'">
]]>
<!ENTITY % img.sda "">

<!ATTLIST IMG
        ALIGN (%img.align;) #IMPLIED
        SRC CDATA  #REQUIRED
        ALT CDATA #IMPLIED
        ISMAP (ISMAP) #IMPLIED
        %img.sda;
	lowsrc CDATA  #IMPLIED
	border NUMBER #IMPLIED
	vspace NUMBER #IMPLIED
	hspace NUMBER #IMPLIED
	width  CDATA  #IMPLIED -- number for HTML 3, cdata for Netscape --
	height CDATA  #IMPLIED -- number for HTML 3 cdata for Netscape--
        >

<!-- <IMG>              Image; icon, glyph or illustration      -->
<!-- <IMG SRC="...">    Address of image object                 -->
<!-- <IMG ALT="...">    Textual alternative                     -->
<!-- <IMG ALIGN=...>    Position relative to text               -->
<!-- <IMG ISMAP>        Each pixel can be a link                -->

<!--========== Paragraphs=======================-->

<!ELEMENT P     - O (%text)*>
<!-- HTML 3, except for center which is also Netscape -->
<![ %SDA.Attributes; [
<!ENTITY % p.sda "%SDAFORM; 'Para'">
]]>
<!ENTITY % p.sda "">
<!ATTLIST P
	align  (left|center|right|justify) #IMPLIED
        %p.sda;
        >

<!-- note that need HTML3 to get SDA. OK for hmpro -->
<!-- <P>        Paragraph       -->


<!--========== Headings, Titles, Sections ===============-->

<!ELEMENT HR    - O EMPTY>

<![ %SDA.Attributes; [
<!ENTITY % hr.sda "%SDAPREF; '&#RE;&#RE;'">
]]>
<!ENTITY % hr.sda "">

<!ATTLIST HR
        %hr.sda;
 	size    NUMBER #IMPLIED
	width   CDATA #IMPLIED -- number or percent => CDATA --
	align   (left|right|center)   #IMPLIED
	noshade (noshade) #IMPLIED -- these four only Netscape --
        src     CDATA     #IMPLIED   -- URI of custom rule graphic (HTML 3) --
	>


<!-- <HR>       Horizontal rule -->

<!ELEMENT ( %heading )  - -  (%text;)*>
<!-- HTML 3, except for center which is also supported by Netscape -->
<!ENTITY % head.att "
	align (left|center|right|justify) #IMPLIED
">
<![ %SDA.Attributes; [
<!ENTITY % h1.sda "%SDAFORM; 'H1'">
<!ENTITY % h2.sda "%SDAFORM; 'H2'">
<!ENTITY % h3.sda "%SDAFORM; 'H3'">
<!ENTITY % h4.sda "%SDAFORM; 'H4'">
<!ENTITY % h5.sda "%SDAFORM; 'H5'">
<!ENTITY % h6.sda "%SDAFORM; 'H6'">
]]>
<!ENTITY % h1.sda "">
<!ENTITY % h2.sda "">
<!ENTITY % h3.sda "">
<!ENTITY % h4.sda "">
<!ENTITY % h5.sda "">
<!ENTITY % h6.sda "">

<!ATTLIST H1
	%head.att;
        %h1.sda;
        >
<!ATTLIST H2
	%head.att;
        %h2.sda;
        >
<!ATTLIST H3
	%head.att;
        %h3.sda;
        >
<!ATTLIST H4
	%head.att;
        %h4.sda;
        >
<!ATTLIST H5
	%head.att;
        %h5.sda;
        >
<!ATTLIST H6
	%head.att;
        %h6.sda;
        >

<!-- <H1>       Heading, level 1 -->
<!-- <H2>       Heading, level 2 -->
<!-- <H3>       Heading, level 3 -->
<!-- <H4>       Heading, level 4 -->
<!-- <H5>       Heading, level 5 -->
<!-- <H6>       Heading, level 6 -->


<!--========== Text Flows ======================-->

<!ENTITY % block.forms "BLOCKQUOTE | FORM | ISINDEX | TABLE">

<![ %HTML.Deprecated [
        <!ENTITY % preformatted "PRE | XMP | LISTING">
]]>

<!ENTITY % preformatted "PRE">

<!ENTITY % block "P | %list | DL
        | %preformatted
        | %block.forms">

<!ENTITY % flow "(%text|%block|CENTER)*">
<!-- center is a Netscape extension -->

<!ENTITY % pre.exclusion "IMG|BIG|SMALL|SUB|SUP">
<!ELEMENT PRE - - (%pre.content)* -(%pre.exclusion;) >

<![ %SDA.Attributes; [
<!ENTITY % pre.sda "%SDAFORM; 'Lit'">
]]>
<!ENTITY % pre.sda "">

<!ATTLIST PRE
        WIDTH NUMBER #implied
        %pre.sda;
        >

<!-- <PRE>              Preformatted text               -->
<!-- <PRE WIDTH=...>    Maximum characters per line     -->

<![ %HTML.Deprecated [

<!ENTITY % literal "CDATA"
        -- historical, non-conforming parsing mode where
           the only markup signal is the end tag
           in full
        -->

<!ELEMENT (XMP|LISTING) - -  %literal>
<![ %SDA.Attributes; [
<!ATTLIST XMP
        %SDAFORM; "Lit"
        %SDAPREF; "Example:&#RE;"
        >
<!ATTLIST LISTING
        %SDAFORM; "Lit"
        %SDAPREF; "Listing:&#RE;"
        >
]]>

<!-- <XMP>              Example section         -->
<!-- <LISTING>          Computer listing        -->

<!ELEMENT PLAINTEXT - O %literal>
<!-- <PLAINTEXT>        Plain text passage      -->

<![ %SDA.Attributes; [
<!ATTLIST PLAINTEXT
        %SDAFORM; "Lit"
        >
]]>
]]>
<!-- end of deprecated marked section -->


<!--========== Lists ==================-->

<!ELEMENT DL    - -  (DT | DD)+>
<![ %SDA.Attributes; [
<!ENTITY % dl.sda "%SDAFORM; 'List'
        %SDAPREF; 'Definition List:'
	">
]]>
<!ENTITY % dl.sda "">
<!ATTLIST DL
        COMPACT (COMPACT) #IMPLIED
        %dl.sda;
        >

<!ELEMENT DT    - O (%text)*>
<![ %SDA.Attributes; [
<!ATTLIST DT
        %SDAFORM; "Term"
        >
]]>

<!ELEMENT DD    - O %flow>
<![ %SDA.Attributes; [
<!ATTLIST DD
        %SDAFORM; "LItem"
        >
]]>

<!-- <DL>               Definition list, or glossary    -->
<!-- <DL COMPACT>       Compact style list              -->
<!-- <DT>               Term in definition list         -->
<!-- <DD>               Definition of term              -->

<!ELEMENT (OL|UL) - -  (LI)+>
<!-- deleted the HTML3 sttributes %url.link;, %attrs; and %needs; 
 	from these lists -->

<![ %SDA.Attributes; [
<!ENTITY % ol.sda "%SDAFORM; 'List'">
]]>
<!ENTITY % ol.sda "">

<!ATTLIST OL
        continue (continue)  #IMPLIED   -- don't restart sequence number --
        seqnum    NUMBER     #IMPLIED   -- starting sequence number --
	-- above two HTML 3--
	type  CDATA  #IMPLIED -- Netscape --
	start NUMBER #IMPLIED -- Netscape --
        COMPACT (COMPACT) #IMPLIED
        %ol.sda;
        >
<![ %SDA.Attributes; [
<!ENTITY % ul.sda "%SDAFORM; 'List'">
]]>
<!ENTITY % ul.sda "">

<!ATTLIST UL
        wrap    (vert|horiz|none) none -- multicolumn list style --
        plain   (plain)  #IMPLIED   -- suppress bullets --
        dingbat CDATA    #IMPLIED   -- dingbat entity from HTMLicons --
        src     CDATA    #IMPLIED   -- bullet defined by graphic --
	-- these four HTML 3. dingbat usually ENTITY, but sets 
	   not yet defined --
	type (disc|circle|square) #IMPLIED -- Netscape --
        COMPACT (COMPACT) #IMPLIED
        %ul.sda;
        >
<!-- <UL>               Unordered list                  -->
<!-- <UL COMPACT>       Compact list style              -->
<!-- <OL>               Ordered, or numbered list       -->
<!-- <OL COMPACT>       Compact list style              -->

<![ %SDA.Attributes; [
<!ENTITY % dir.sda "
        %SDAFORM; 'List'
        %SDAPREF; '<LHead>Directory</LHead>'
	">
]]>
<!ENTITY % dir.sda "">

<![ %SDA.Attributes; [
<!ENTITY % menu.sda "
        %SDAFORM; 'List'
        %SDAPREF; '<LHead>Menu</LHead>'
	">
]]>
<!ENTITY % menu.sda "">

<!ELEMENT (DIR|MENU) - -  (LI)+ -(%block)>
<!ATTLIST DIR
        COMPACT (COMPACT) #IMPLIED
	%dir.sda;
        >
<!ATTLIST MENU
        COMPACT (COMPACT) #IMPLIED
	%menu.sda;
        >

<!-- <DIR>              Directory list                  -->
<!-- <DIR COMPACT>      Compact list style              -->
<!-- <MENU>             Menu list                       -->
<!-- <MENU COMPACT>     Compact list style              -->

<!ELEMENT LI    - O %flow>
<![ %SDA.Attributes; [
<!ENTITY % li.sda "
        %SDAFORM; "LItem"
	">
]]>
<!ENTITY % li.sda "">
<!ATTLIST LI
	dingbat CDATA  #IMPLIED   -- dingbat entity from HTMLicons --
        src     CDATA  #IMPLIED   -- custom bullet graphic --
        skip    NUMBER 0          -- skip seq nums for missing items --
	-- above three HTML 3 --
	type    CDATA  #IMPLIED   -- Netscape --
	value   NUMBER #IMPLIED   -- Netscape --
	%li.sda;
        >

<!-- <LI>               List item                       -->

<!ELEMENT center - - (%heading;|%text;|ADDRESS|TABLE|P|%list;|DL)* >



<!--========== Document Body ===================-->

<![ %HTML.Recommended [
	<!ENTITY % body.content "(%heading|%block|HR|ADDRESS|IMG|CENTER)*"
	-- <h1>Heading</h1>
	   <p>Text ...
		is preferred to
	   <h1>Heading</h1>
	   Text ...
	-->
]]>

<!ENTITY % body.content "(%heading | %text | %block | CENTER |
				 HR | ADDRESS)*">


<!ELEMENT BODY O O  %body.content>

<!ATTLIST BODY  
	background CDATA #IMPLIED -- background image --
	-- both HTML 3 and Netscape --
	bgcolor    CDATA #IMPLIED  -- background colour in hex #rrggbb format --
	text       CDATA #IMPLIED  -- colour of normal text in #rrggbb format --
        link       CDATA #IMPLIED  -- colour of link text in #rrggbb format -- 
        vlink      CDATA #IMPLIED  -- colour of visited link text in #rrggbb --
        alink      CDATA #IMPLIED  -- colour of active link text in #rrggbb --
	-- these last five all Netscape -->

<!-- <BODY>     Document body   -->

<!ELEMENT BLOCKQUOTE - - %body.content>
<![ %SDA.Attributes; [
<!ATTLIST BLOCKQUOTE
        %SDAFORM; "BQ"
        >
]]>

<!-- <BLOCKQUOTE>       Quoted passage  -->

<!ELEMENT ADDRESS - - (%text|P)*>
<![ %SDA.Attributes; [
<!ATTLIST  ADDRESS
        %SDAFORM; "Lit"
        %SDAPREF; "Address:&#RE;"
        >
]]>

<!-- <ADDRESS>	Address, signature, or byline	-->


<!--======= Forms ====================-->

<![ %SDA.Attributes; [
<!ENTITY % form.sda "
        %SDAPREF; '<Para>Form:</Para>'
        %SDASUFF; '<Para>Form End.</Para>'
	">
]]>
<!ENTITY % form.sda "">
<!ELEMENT FORM - - %body.content -(FORM) +(INPUT|SELECT|TEXTAREA)>
<!ATTLIST FORM
        ACTION CDATA #IMPLIED
        METHOD (%HTTP-Method) GET
        ENCTYPE %Content-Type; "application/x-www-form-urlencoded"
	%form.sda;
        >

<!-- <FORM>                     Fill-out or data-entry form     -->
<!-- <FORM ACTION="...">        Address for completed form      -->
<!-- <FORM METHOD=...>          Method of submitting form       -->
<!-- <FORM ENCTYPE="...">       Representation of form data     -->

<!ENTITY % InputType "(TEXT | PASSWORD | CHECKBOX |
                        RADIO | SUBMIT | RESET |
                        IMAGE | HIDDEN )">
<![ %SDA.Attributes; [
<!ENTITY % input.sda "
        %SDAPREF; 'Input: '
	">
]]>
<!ENTITY % input.sda "">
<!ELEMENT INPUT - O EMPTY>
<!ATTLIST INPUT
	TYPE    %InputType TEXT
	NAME    CDATA      #IMPLIED
	VALUE   CDATA      #IMPLIED
	SRC     CDATA      #IMPLIED
	CHECKED (CHECKED)  #IMPLIED
	SIZE    CDATA      #IMPLIED
	MAXLENGTH NUMBER   #IMPLIED
	ALIGN   (top|middle|bottom) #IMPLIED
	%input.sda;
	>

<!-- <INPUT>			Form input datum		-->
<!-- <INPUT TYPE=...>		Type of input interaction	-->
<!-- <INPUT NAME=...>		Name of form datum		-->
<!-- <INPUT VALUE="...">	Default/initial/selected value	-->
<!-- <INPUT SRC="...">		Address of image		-->
<!-- <INPUT CHECKED>		Initial state is "on"		-->
<!-- <INPUT SIZE=...>		Field size hint			-->
<!-- <INPUT MAXLENGTH=...>	Data length maximum		-->
<!-- <INPUT ALIGN=...>		Image alignment			-->

<![ %SDA.Attributes; [
<!ENTITY % select.sda "
        %SDAFORM; 'List'
        %SDAPREF;
        '<LHead>Select #AttVal(Multiple)</LHead>'
	">
]]>
<!ENTITY % select.sda "">
<!ELEMENT SELECT - - (OPTION+) -(INPUT|SELECT|TEXTAREA)>
<!ATTLIST SELECT
        NAME CDATA  #REQUIRED
        SIZE NUMBER #IMPLIED
        MULTIPLE (MULTIPLE) #IMPLIED
	%select.sda;
	>

<!-- <SELECT>			Selection of option(s)		-->
<!-- <SELECT NAME=...>		Name of form datum		-->
<!-- <SELECT SIZE=...>		Options displayed at a time	-->
<!-- <SELECT MULTIPLE>		Multiple selections allowed	-->

<![ %SDA.Attributes; [
<!ENTITY % option.sda "
        %SDAFORM; 'LItem'
        %SDAPREF;
        'Option: #AttVal(Value) #AttVal(Selected)'
	">
]]>
<!ENTITY % option.sda "">

<!ELEMENT OPTION - O (#PCDATA)*>
<!ATTLIST OPTION
        SELECTED (SELECTED) #IMPLIED
        VALUE CDATA #IMPLIED
	%option.sda;
	>

<!-- <OPTION>			A selection option		-->
<!-- <OPTION SELECTED>		Initial state			-->
<!-- <OPTION VALUE="...">	Form datum value for this option-->

<![ %SDA.Attributes; [
<!ENTITY % textarea.sda "
        %SDAFORM; 'Para'
        %SDAPREF; 'Input Text -- #AttVal(Name): '
	">
]]>
<!ENTITY % textarea.sda "">

<!ELEMENT TEXTAREA - - (#PCDATA)* -(INPUT|SELECT|TEXTAREA)>
<!ATTLIST TEXTAREA
        NAME CDATA #REQUIRED
        ROWS NUMBER #REQUIRED
        COLS NUMBER #REQUIRED
	%textarea.sda;
        >

<!-- <TEXTAREA>			An area for text input		-->
<!-- <TEXTAREA NAME=...>	Name of form datum		-->
<!-- <TEXTAREA ROWS=...>	Height of area			-->
<!-- <TEXTAREA COLS=...>	Width of area			-->


<!--======= Document Head ======================-->

<![ %HTML.Recommended [
	<!ENTITY % head.extra "">
]]>

<!ENTITY % head.extra "& NEXTID?">

<!ENTITY % head.content "TITLE & ISINDEX? & BASE? %head.extra">

<!ELEMENT HEAD O O  (%head.content) +(META|LINK)>

<!-- <HEAD>     Document head   -->

<!ELEMENT TITLE - -  (#PCDATA)* -(META|LINK) >
<![ %SDA.Attributes; [
<!ATTLIST TITLE
        %SDAFORM; "Ti"    >
]]>

<!-- <TITLE>    Title of document -->

<![ %SDA.Attributes; [
<!ENTITY % link.sda "
        %SDAPREF; 'Linked to : #AttVal (TITLE) (URN) (HREF)>' 
	">
]]>
<!ENTITY % link.sda "">

<!ELEMENT LINK - O EMPTY>
<!ATTLIST LINK
        HREF CDATA #REQUIRED
        %linkExtraAttributes;
	%link.sda;
	>

<!-- <LINK>		Link from this document			-->
<!-- <LINK HREF="...">	Address of link destination		-->
<!-- <LINK URN="...">	Lasting name of destination		-->
<!-- <LINK REL=...>	Relationship to destination		-->
<!-- <LINK REV=...>	Relationship of destination to this 	-->
<!-- <LINK TITLE="...">	Title of destination (advisory)	 	-->
<!-- <LINK METHODS="..."> Operations allowed (advisory)		-->

<!ELEMENT ISINDEX - O EMPTY>

<![ %SDA.Attributes; [
<!ENTITY % isindex.sda "
	%SDAPREF;
	'<Para>[Document is indexed/searchable.]</Para>'
	">
]]>
<!ENTITY % isindex.sda "">

<!ATTLIST ISINDEX 
	prompt CDATA #IMPLIED
	%isindex.sda;
	>

<!-- <ISINDEX>          Document is a searchable index          -->

<!ELEMENT BASE - O EMPTY>
<!ATTLIST BASE
        HREF CDATA #REQUIRED     >

<!-- <BASE>             Base context document                   -->
<!-- <BASE HREF="...">  Address for this document               -->

<![ %HTML.Deprecated [
<!ELEMENT NEXTID - O EMPTY>
<!ATTLIST NEXTID
        N CDATA #REQUIRED     >

<!-- <NEXTID>		Next ID to use for link name		-->
<!-- <NEXTID N=...>	Next ID to use for link name		-->
]]>


<!ELEMENT META - O EMPTY>
<!ATTLIST META
        HTTP-EQUIV  NAME    #IMPLIED
        NAME        NAME    #IMPLIED
        CONTENT     CDATA   #REQUIRED  
	url CDATA #IMPLIED -- Netscape -->

<!-- <META>                     Generic Metainformation         -->
<!-- <META HTTP-EQUIV=...>      HTTP response header name       -->
<!-- <META NAME=...>      	Metainformation name            -->
<!-- <META CONTENT="...">       Associated information          -->

<!--======= Document Structure =================-->

<![ %HTML.Deprecated [
        <!ENTITY % html.content "HEAD, BODY, PLAINTEXT?">
]]>
<!ENTITY % html.content "HEAD, BODY">

<!ELEMENT HTML O O  (%html.content)>

<![ %SDA.Attributes; [
<!ENTITY % html.sda "
        %SDAFORM; 'Book'
	">
]]>
<!ENTITY % html.sda "">

<!ATTLIST HTML
        VERSION CDATA #IMPLIED
	%html.sda;
        >


<!--================= Tables : Added Support for HoTMetaL =================-->

<!-- Tables -->

<!--   
	SoftQuad's Canonical Table DTD fragment modified for compatibility
	with the proposed ICADD-HTML harmonized table model.
	Changed a lot by Lauren for the SQ HoTMetaL PRO 2.0.

	Copyright (c) 1991, 1994, 1995 by SoftQuad Inc.

	This DTD fragment defines the table structure used internally by
	SoftQuad Author/Editor and uses names from the proposed
	ICADD-HTML model.

	It expects there to be a table.map file point to by SQCONFIG
	and containing the following lines:
TBODY COLDEFS COLDEF ROWS TR  TD

The CellMdl parameter entity should be modified to the current proposed
model for table cells.
-->

<!ENTITY % TblBody	"TBody">
<!ENTITY % TblCDfs	"ColDefs">
<!ENTITY % TblCDef	"ColDef">
<!ENTITY % TblRows	"Rows">
<!ENTITY % TblRow	"TR">
<!ENTITY % TblCell	"(TD|TH)">
<!ENTITY % CellMdl	"(%heading|%text|%block|ADDRESS|HR)* ">
<!-- this allows <img>, fonts etc. -->

<!ENTITY % VBorder
	"(VSingle|VNone)">
<!ENTITY % HBorder
	"(HSingle|HNone)">
<!ENTITY % VAlign  "(Top|Middle|Bottom|baseline)">
<!ENTITY % HAlign  "(Left|Center|Right|justify)">
<!-- justify only HTML 3, others both -->

<!ENTITY % TblUnit      "(percent|pixels|points|picas|mm|cm|inches)">

<!ENTITY % RProps
	'VAlign		%VAlign;   #IMPLIED'>
<!ENTITY % CProps
	'Align		%HAlign;   #IMPLIED'>

<!ELEMENT TABLE	- O (Caption?, TBody) >

<!-- Netscape and HTML 3 -->
<!ATTLIST TABLE
	border (border|0|1|2|3|4|5|6|7|8|9|10) #IMPLIED 
	-- Netscape has BORDER and numbers as possible values.  --
	cellpadding NUMBER #IMPLIED
	cellspacing NUMBER #IMPLIED
	height CDATA #IMPLIED
	width CDATA #IMPLIED
        align (bleedleft|left|center|right|bleedright|justify) #IMPLIED
	-- left, center, right are Netscape, all values are valid HTML 3--
        nowrap (nowrap) #IMPLIED -- HTML 3 --
	clear  CDATA #IMPLIED -- HTML 3 --
        >
	
<!-- TblBody is the top-level table element -->
<!ELEMENT TBody 	O O	((%TblCDfs;), (Rows))>
<!ATTLIST %TblBody;
	SQTABLE CDATA #FIXED 'TBLBODY' -- needed for program --
	TblWd		CDATA		#IMPLIED
	TblHt		CDATA		#IMPLIED
>

<!-- Table Column Definitions: -->
<!ELEMENT %TblCDfs; 	O O	(%TblCDef;)+>
<!ATTLIST %TblCDfs;
	SQTABLE CDATA #FIXED 'TBLCDEFS' -- needed for program --
	-- CProps with default values to apply to all columns --
	Align		%HAlign;	"Left"
>
<!-- there is exactly one TblCDef for each column in the table -->
<!ELEMENT %TblCDef; 	- O	EMPTY -- Only exists to hold attributes -->
<!ATTLIST %TblCDef;
	SQTABLE CDATA #FIXED 'TBLCDEF' -- needed for program --
	%CProps;		-- overrides settings in TblCDfs --
	-- need the following two because of Keyword conversion --
        ColWd           CDATA           #IMPLIED
        TblUnits        %TblUnit;       #IMPLIED
>

<!-- Table Rows: -->
<!ELEMENT Rows 	O O	(TR)+>
<!ATTLIST %TblRows;
	SQTABLE CDATA #FIXED 'TBLROWS' -- needed for program --
	-- RProps with default values to apply to all rows --
	VAlign		%VAlign;	"top"
>
<!ELEMENT %TblRow; 	- O	(TH|TD)*>
<!ATTLIST %TblRow;
	SQTABLE CDATA #FIXED 'TBLROW' -- needed for program --
	VAlign		%VAlign;   top 
	-- HTML 3 setting; Netscape uses Middle--
	Align		%HAlign;	Left  
	-- we need a setting for our table model --
        nowrap (nowrap) #IMPLIED -- HTML 3 --
>

<!-- Table Cells -->
<!ELEMENT %TblCell; 	- -	%CellMdl;  -(table)>
<!ATTLIST %TblCell;
	SQTABLE CDATA #FIXED 'TBLCELL' -- needed for program --
	VAlign		%VAlign;   #IMPLIED 
	-- Netscape has VAlign set to Middle. In HTML 3, it's implied from TR --
	Align		%HAlign;   #IMPLIED
	-- #IMPLIED for HTML 3, Left for Netscape TD, center for TH --
	-- cell positioning --
        ColStart        NUMBER          #IMPLIED
	ColSpan		NUMBER		"1"		-- span >= 1 --
        RowStart        NUMBER          #IMPLIED
	RowSpan		NUMBER		"1"		-- span >= 1 --
	-- colspan and rowspan Netscape and HTML 3 --
	nowrap (nowrap)  #IMPLIED -- Netscape and HTML 3 --
	width CDATA #IMPLIED -- Netscape only --
>
<!-- need colstart and rowstart attributes for internals -->

<!ELEMENT  caption		- O  (%text;)* >
<!-- both HTML 3 and Netscape, values "left", "right" only HTML 3 -->
<!ATTLIST caption
	align (top|bottom|left|right) #IMPLIED
	>
