htdocs/sgml-lib/ie30.dtd

<!--
        Microsoft Document Type Definition for Internet Explorer 3.0 HTML.

		Version: 0.9	Date: 11/7/96

 		Author: Mark Buckley <mbuckley@microsoft.com>

		This markup is based as much as possible on the DTD for HTML 3.2 
		published by W3C (also known as the Wilbur DTD), dated 5/31/96.
-->

<!ENTITY % HTML.Version
        "-//Microsoft//DTD Internet Explorer 3.0 HTML//EN" >

<!--================== Deprecated Features Switch =========================-->

<!ENTITY % HTML.Recommended "IGNORE" >

<![ %HTML.Recommended [
	<!ENTITY % HTML.Deprecated "IGNORE">
]]>

<!ENTITY % HTML.Deprecated "INCLUDE">

<!--================== Imported Names =====================================-->

<!ENTITY % Content-Type "CDATA"
        -- meaning a MIME content type, as per RFC1521
        -->

<!ENTITY % HTTP-Method "GET | POST"
        -- as per HTTP specification
        -->

<!ENTITY % URL "CDATA"
        -- The term URL means a CDATA attribute
           whose value is a Uniform Resource Locator,
           See RFC1808 (June 95) and RFC1738 (Dec 94).
        -->

<!--========= Common attributes ============================================-->

<!ENTITY % attrs  -- common attributes. Taken from the HTML 3 DTD --
	'id	ID	#IMPLIED -- as target for hrefs (link ends) --
	 lang	CDATA   "en.us"  -- ISO language, country code --
	 class	NAMES  	#IMPLIED -- for subclassing elements --
	 style	CDATA	#IMPLIED'>

<!--========= Color attribute ============================================-->

<!ENTITY % color "CDATA" -- a color specification: #HHHHHH @@ details? -->


<!--================ Character mnemonic entities ==========================-->

<!ENTITY % ISOlat1 PUBLIC
       "ISO 8879-1986//ENTITIES Added Latin 1//EN//HTML">
%ISOlat1;

<!--================ Entities for special symbols =========================-->
<!-- &trade &shy and &cbsp are not widely deployed and so not included here -->

<!ENTITY copy   CDATA "&#169"   -- copyright sign     -->
<!ENTITY reg    CDATA "&#174"   -- registered sign    -->
<!ENTITY amp    CDATA "&#38;"   -- ampersand          -->
<!ENTITY gt     CDATA "&#62;"   -- greater than       -->
<!ENTITY lt     CDATA "&#60;"   -- less than          -->
<!ENTITY quot   CDATA "&#34;"   -- double quote       -->
<!ENTITY nbsp   CDATA "&#160;"  -- non breaking space -->

<!-- Parameter Entities -->

<!ENTITY % heading "H1|H2|H3|H4|H5|H6">


<!--=================== Text Content =======================================-->

<![ %HTML.Deprecated [
<!ENTITY % font "TT | I | B  | U | STRIKE | BIG | SMALL | SUB | SUP | FONT | S">
]]>

<!ENTITY % font "TT | I | B  | U | STRIKE | BIG | SMALL | SUB | SUP | FONT">

<![ %HTML.Deprecated [
	<!ENTITY % phrase "EM | STRONG | DFN |CODE | SAMP | KBD | VAR | CITE | ENTITY">
]]>

<!ENTITY % phrase "EM | STRONG | DFN | CODE | SAMP | KBD | VAR | CITE | SPAN">

<!ENTITY % break	"BR | NOBR | WBR" >

<!ENTITY % anchors "A" >

<![ %HTML.Deprecated [
<!ENTITY % mmobjects "IMG | APPLET | SCRIPT | NOSCRIPT | MAP | BGSOUND | MARQUEE | OBJECT | EMBED" >
]]>

<!ENTITY % mmobjects "IMG | APPLET | SCRIPT | NOSCRIPT | MAP | BGSOUND | MARQUEE | OBJECT" >

<!ENTITY % formitems "INPUT | SELECT | TEXTAREA">

<![ %HTML.Deprecated [
	<!ENTITY % text "#PCDATA | %font | %phrase | %break | %anchors | %mmobjects | %formitems">
]]>

<!ENTITY % text "#PCDATA | %font | %phrase | %break | %anchors | %mmobjects">

<!--=================== Flow Content =======================================-->

<!ENTITY % list "UL | OL | DL | DIR | MENU">

<![ %HTML.Deprecated [
    <!ENTITY % preformatted "PRE | XMP | LISTING | PLAINTEXT">
]]>

<!ENTITY % preformatted "PRE">


<![ %HTML.Deprecated [
<!ENTITY % block
     "P | %list | %preformatted | DIV | BLOCKQUOTE | FORM | ISINDEX | 
	 HR | TABLE | IFRAME | CENTER">
]]>

<!ENTITY % block
     "P | %list | %preformatted | DIV | BLOCKQUOTE | FORM | ISINDEX | 
	 HR | TABLE | IFRAME">


<![ %HTML.Deprecated [
<!ENTITY % mixed.content "(%heading|%text|%block|ADDRESS|BASEFONT)*" >
]]>

<!-- %flow is used for DD and LI -->

<![ %HTML.Deprecated [
<!ENTITY % flow "(%mixed.content)*">
]]>

<!ENTITY % flow "(%text | %block)*">

<![ %HTML.Deprecated [
<!ENTITY % font.content "(%mixed.content)*">
]]>

<!ENTITY % font.content "(%text)*">


<!-- Text Elements -->

<!ELEMENT (%font) - -  %font.content >

<!ATTLIST FONT
	%attrs;
    size    CDATA   #IMPLIED    -- [+]nn e.g. size="+1", size=4 --
    color   %color	#IMPLIED    -- #RRGGBB in hex, e.g. red: color="#FF0000" --
	face	CDATA	#IMPLIED
    >

<!ATTLIST (TT | I | B  | U | STRIKE | BIG | SMALL | SUB | SUP)
	%attrs;
    size    CDATA   #IMPLIED    -- [+]nn e.g. size="+1", size=4 --
    color   %color	#IMPLIED    -- #RRGGBB in hex, e.g. red: color="#FF0000" --
	face	CDATA	#IMPLIED
	>

<![ %HTML.Deprecated [
	<!ATTLIST S
		%attrs;
		>
]]>

<!ELEMENT (%phrase) - - (%text)*>
<!ATTLIST (%phrase)
	%attrs;
	>

<!ELEMENT (%break)    - O EMPTY   -- forced line break -->

<!ATTLIST BR
	%attrs;
	clear (left|all|right|none) none -- control of text flow --
	>

<!ATTLIST (NOBR | WBR)
	%attrs;
	>

<!--=================== Document Body =====================================-->

<![ %HTML.Recommended [
	<!ENTITY % body.content	"(%heading|%block|%mmobjects|ADDRESS|BASEFONT)*" >
]]>

<![ %HTML.Deprecated [
<!ENTITY % body.content "%mixed.content" >
]]>

<!ENTITY % body-color-attrs "
    bgcolor %color #IMPLIED
    text %color #IMPLIED
    link %color #IMPLIED
    vlink %color #IMPLIED
    alink %color #IMPLIED
	">

<!ELEMENT BODY O O  %body.content>
<!ATTLIST BODY
	%attrs;
    background		%URL	#IMPLIED  -- texture tile for document background --
    %body-color-attrs;		-- bgcolor, text, link, vlink, alink --
	bgproperties	CDATA	#IMPLIED
  	leftmargin	NUMBER	#IMPLIED
	topmargin	NUMBER	#IMPLIED
	>

<![ %HTML.Deprecated [
	<!ENTITY % address.content "((%text;) | P | CENTER)*">
]]>

<!ENTITY % address.content "((%text;) | P )*">

<!ELEMENT ADDRESS - - %address.content>
<!ATTLIST  ADDRESS
	%attrs;
	>

<!ELEMENT DIV - - %body.content>
<!ATTLIST DIV
		%attrs
        align   (left|center|right) left -- alignment of following text --
        >

<![ %HTML.Deprecated [
	<!-- CENTER is a shorthand for DIV with ALIGN=CENTER -->
	<!ELEMENT center - - %mixed.content>
	<!ATTLIST center
		%attrs
		>
]]>

<!--================== The Anchor Element =================================-->

<!ELEMENT A - - (%text)* -(A)>
<!ATTLIST A
		%attrs
        name    CDATA   #IMPLIED    -- named link end --
        href    %URL    #IMPLIED    -- URL for linked resource --
        rel     CDATA   #IMPLIED    -- forward link types --
        rev     CDATA   #IMPLIED    -- reverse link types --
        title   CDATA   #IMPLIED    -- advisory title string --
		target	CDATA	#IMPLIED	-- frame target --
        >

<!--================== Client-side image maps ============================-->

<!-- These can be placed in the same document or grouped in a
     separate document although this isn't yet widely supported -->

<!ENTITY % SHAPE "(rect|rectangle|circ|circle|poly|polygon|default)">
<!ENTITY % COORDS "CDATA" -- comma separated list of numbers -->

<!ELEMENT MAP - - (AREA)*>
<!ATTLIST MAP
    name    CDATA   #IMPLIED
    >

<!ELEMENT AREA - O EMPTY>
<!ATTLIST AREA
	%attrs
    shape   %SHAPE  rect
    coords  %COORDS #IMPLIED  -- always needed except for shape=default --
    href    %URL    #IMPLIED  -- this region acts as hypertext link --
    nohref (nohref) #IMPLIED  -- this region has no action --
    alt     CDATA   #IMPLIED
	target	CDATA	#IMPLIED
    >

<!--================== The LINK Element ==================================-->

<!ENTITY % Types "CDATA"
        -- See Internet Draft: draft-ietf-html-relrev-00.txt
           LINK has been part of HTML since the early days
           although few browsers as yet take advantage of it.

           Relationship values can be used in principle:

                a) for document specific toolbars/menus when used
                   with the LINK element in document head:
                b) to link to a separate style sheet (rel=stylesheet)
                c) to make a link to a script (rel=script)
                d) by stylesheets to control how collections of
                   html nodes are rendered into printed documents
                e) to make a link to a printable version of this document
                   e.g. a postscript or pdf version (rel=print)
-->

<!ELEMENT LINK - O EMPTY>
<!ATTLIST LINK
	%attrs;
    href    %URL    #IMPLIED    -- URL for linked resource --
    rel     %Types  #IMPLIED    -- forward link types --
    rev     %Types  #IMPLIED    -- reverse link types --
    title   CDATA   #IMPLIED    -- advisory title string --
        >

<!--=================== Images ============================================-->

<!ENTITY % Length "CDATA" -- nn for pixels or nn% for percentage length -->
<!ENTITY % Pixels "CDATA" -- integer representing length in pixels -->

<!-- Suggested widths are used for negotiating image size
     with the module responsible for painting the image.
     align=left or right cause image to float to margin
     and for subsequent text to wrap around image -->

<!ENTITY % IAlign "(top|middle|bottom|left|right)">

<!ELEMENT IMG    - O EMPTY --  Embedded image -->
<!ATTLIST IMG
	%attrs;
    src		%URL     #REQUIRED  -- URL of image to embed --
    alt		CDATA    #IMPLIED   -- for display in place of image --
    align	%IAlign  #IMPLIED   -- vertical or horizontal alignment --
    height	%Pixels  #IMPLIED   -- suggested height in pixels --
    width	%Pixels  #IMPLIED   -- suggested width in pixels --
    border	%Pixels  #IMPLIED   -- suggested link border width --
    hspace	%Pixels  #IMPLIED   -- suggested horizontal gutter --
    vspace	%Pixels  #IMPLIED   -- suggested vertical gutter --
    usemap	%URL     #IMPLIED   -- use client-side image map --
    ismap	(ismap)  #IMPLIED   -- use server image map --
    dynsrc	%URL     #IMPLIED  -- URL of image to embed --
	start	NAMES	#IMPLIED
	loop	NMTOKEN	#IMPLIED
	controls	(controls)	#IMPLIED
	vrml	CDATA	#IMPLIED
    >

<!-- USEMAP points to a MAP element which may be in this document
  or an external document, although the latter is not widely supported -->

<!--=================== Java APPLET tag ===================================-->
<!--
  This tag is supported by all java enabled browsers. Applet resources
  (including their classes) are normally loaded relative to the document
  URL (or <BASE> element if it is defined). The CODEBASE attribute is used
  to change this default behavior. If the CODEBASE attribute is defined then
  it specifies a different location to find applet resources. The value
  can be an absolute URL or a relative URL. The absolute URL is used as is
  without modification and is not effected by the documents <BASE> element.
  When the codebase attribute is relative, then it is relative to the
  document URL (or <BASE> tag if defined). <TEXTFLOW> avoids the problems
  with SGML mixed content. It can always be omitted *except* when the APPLET
  element hasn't any content. White space, comments and PARAM elements
  don't count as content for this purpose. TEXTFLOW was introduced into
  the DTD to satisfy SGML parsers, but is ignored by current Web browsers.
-->
<!ELEMENT APPLET - - (PARAM*, TEXTFLOW)>
<!ATTLIST APPLET
		%attrs
        codebase %URL     #IMPLIED   -- code base --
        code     CDATA    #REQUIRED  -- class file --
        name     CDATA    #IMPLIED   -- applet name --
        alt      CDATA    #IMPLIED   -- for display in place of applet --
        align    %IAlign  #IMPLIED   -- vertical or horizontal alignment --
        height   %Pixels  #REQUIRED  -- suggested height in pixels --
        width    %Pixels  #REQUIRED  -- suggested width in pixels --
        hspace   %Pixels  #IMPLIED   -- suggested horizontal gutter --
        vspace   %Pixels  #IMPLIED   -- suggested vertical gutter --
		border	NUMBER	#IMPLIED
        >


<!ELEMENT TEXTFLOW O O (%text)* -- needed to bypass mixed content model -->

<!--
Here is an example:

    <applet codebase="applets/NervousText"
        code=NervousText.class
        width=300
        height=50>
    <param name=text value="Java is Cool!">
    <img src=sorry.gif alt="This looks better with Java support">
    </applet>
-->

<!--=================== Horizontal Rule ===================================-->

<!ELEMENT HR    - O EMPTY>
<!ATTLIST HR
	%attrs;
    align (left|right|center) #IMPLIED
    noshade (noshade) #IMPLIED
    size	%Pixels #IMPLIED
    width	%Length #IMPLIED
	color	%color	#IMPLIED
    >

<!--=================== Paragraphs=========================================-->

<![ %HTML.Deprecated [
	<!ENTITY % P.content	"(%text|CENTER)*" >
]]>

<!ENTITY % P.content	"(%text)*" >

<!ELEMENT P     - O %P.content >
<!ATTLIST P
	%attrs;
    align  (left|center|right) #IMPLIED
    >


<!--=================== Base Font =========================================-->

<!ELEMENT BASEFONT	- O EMPTY>
<!ATTLIST BASEFONT
	%attrs;
	size	NUMBER	#IMPLIED
	color	%color	#IMPLIED
	face	CDATA	#IMPLIED
	>

<!--=================== Background Sound =================================-->

<!ELEMENT BGSOUND  - O EMPTY>
<!ATTLIST BGSOUND
	%attrs;
	src		%URL	#IMPLIED
	loop	NMTOKEN	#IMPLIED
	start	CDATA	#IMPLIED
	>

<!--=================== Marquee =========================================-->

<!ELEMENT MARQUEE  - O (%text)*>
<!ATTLIST MARQUEE
	%attrs;
	align (top|middle|bottom) top
	behavior	(scroll|slide|alternate)	SCROLL
	bgcolor	%color	#IMPLIED
	direction	(left|right)	LEFT
	height	CDATA	#IMPLIED
	hspace	NUMBER	#IMPLIED
	loop	CDATA	#IMPLIED
	scrollamount	NUMBER	#IMPLIED
	scrolldelay	NUMBER	#IMPLIED
	vspace	NUMBER	#IMPLIED
	width	CDATA	#IMPLIED
	border	NUMBER	#IMPLIED
    background	%URL	#IMPLIED  -- texture tile for document background --
	>

<!--=================== Headings ==========================================-->

<!--
  There are six levels of headers from H1 (the most important)
  to H6 (the least important).
-->

<!ELEMENT ( %heading )  - -  %P.content >
<!ATTLIST ( %heading )
		%attrs
        align  (left|center|right) #IMPLIED
        >

<!--=================== Preformatted Text =================================-->

<!-- excludes images and changes in font size -->

<!ENTITY % pre.exclusion "IMG|BIG|SMALL|SUB|SUP|FONT">

<!ELEMENT PRE - - (%text)* -(%pre.exclusion)>
<!ATTLIST PRE
	%attrs;
	width NUMBER #implied
	>

<![ %HTML.Deprecated [

<!ENTITY % literal "CDATA"
        -- historical, non-conforming parsing mode where
           the only markup signal is the end tag
           in full
        -->

<!ELEMENT (XMP|LISTING) - -  %literal>
<!ELEMENT PLAINTEXT - O %literal>

<!ATTLIST (XMP|LISTING|PLAINTEXT)
	%attrs;
	>

]]>

<!--=================== Block-like Quotes =================================-->

<!ELEMENT BLOCKQUOTE - - %body.content>
<!ATTLIST BLOCKQUOTE
	%attrs;
	>

<!--=================== Lists =============================================-->

<!--
    HTML 3.2 allows you to control the sequence number for ordered lists.
    You can set the sequence number with the START and VALUE attributes.
    The TYPE attribute may be used to specify the rendering of ordered
    and unordered lists.
-->

<!-- definition lists - DT for term, DD for its definition -->

<!ELEMENT DL    - -  (DT|DD)*>
<!ATTLIST DL
	%attrs;
	compact (compact) #IMPLIED -- more compact style --
        >

<!ELEMENT DT - O  (%text)*>
<!ATTLIST DT
	%attrs;
	>

<!ELEMENT DD - O  %flow;>
<!ATTLIST DD
	%attrs;
	>

<!-- Ordered lists OL, and unordered lists UL -->
<!ELEMENT (OL|UL) - -  (LI)*>

<!--
       Numbering style
    1   arabic numbers      1, 2, 3, ...
    a   lower alpha         a, b, c, ...
    A   upper alpha         A, B, C, ...
    i   lower roman         i, ii, iii, ...
    I   upper roman         I, II, III, ...

    The style is applied to the sequence number which by default
    is reset to 1 for the first list item in an ordered list.

    This can't be expressed directly in SGML due to case folding.
-->

<!ENTITY % OLStyle "CDATA" -- constrained to: [1|a|A|i|I] -->

<!ATTLIST OL -- ordered lists --
	%attrs;
    type      %OLStyle   #IMPLIED   -- numbering style --
    start     NUMBER     #IMPLIED   -- starting sequence number --
    compact  (compact)   #IMPLIED   -- reduced interitem spacing --
	>

<!-- bullet styles -->

<!ENTITY % ULStyle "disc|square|circle">

<!ATTLIST UL -- unordered lists --
	%attrs;
    type    (%ULStyle)   #IMPLIED   -- bullet style --
    compact (compact)    #IMPLIED   -- reduced interitem spacing --
    >

<!ELEMENT (DIR|MENU) - -  (LI)* -(%block)>
<!ATTLIST (DIR|MENU)
	%attrs;
    compact (compact) #IMPLIED
    >

<!-- The type attribute can be used to change the bullet style
     in unordered lists and the numbering style in ordered lists -->

<!ENTITY % LIStyle "CDATA" -- constrained to: "(%ULStyle|%OLStyle)" -->

<!ELEMENT LI - O %flow -- list item -->
<!ATTLIST LI
	%attrs;
    type    %LIStyle     #IMPLIED   -- list item style --
    value    NUMBER      #IMPLIED   -- reset sequence number --
    >

<!--================ Forms ===============================================-->

<!ELEMENT FORM - - %body.content -(FORM) +(%formitems)>
<!ATTLIST FORM
	%attrs;
    action %URL #REQUIRED -- server-side form handler --
    method (%HTTP-Method) GET -- see HTTP specification --
    enctype %Content-Type; "application/x-www-form-urlencoded"
	name	CDATA	#IMPLIED
	target	CDATA	#IMPLIED
        >

<!ENTITY % InputType
        "(TEXT | TEXTAREA | PASSWORD | CHECKBOX | RADIO | SUBMIT
            | RESET | FILE | HIDDEN | IMAGE)">

<!ELEMENT INPUT - O EMPTY>
<!ATTLIST INPUT
	%attrs;
    type %InputType TEXT     -- what kind of widget is needed --
    name  CDATA #IMPLIED     -- required for all but submit and reset --
    value CDATA #IMPLIED     -- required for radio and checkboxes --
	checked (checked|true|false) #IMPLIED -- for radio buttons and check boxes --
    size CDATA  #IMPLIED     -- specific to each type of field --
    maxlength NUMBER #IMPLIED
    src   %URL  #IMPLIED     -- for fields with background images --
    align  (top|middle|bottom|left|right) top -- image alignment --
    >

<!ELEMENT SELECT - - (OPTION+)>
<!ATTLIST SELECT
	%attrs;
    name CDATA #REQUIRED
    size NUMBER #IMPLIED
    multiple (multiple) #IMPLIED
    >

<!ELEMENT OPTION - O (#PCDATA)*>
<!ATTLIST OPTION
	%attrs;
    selected (selected) #IMPLIED
    value  CDATA  #IMPLIED -- defaults to element content --
    >

<!-- Multi-line text input field. -->

<!ELEMENT TEXTAREA - - (#PCDATA)* -(INPUT|SELECT|TEXTAREA)>
<!ATTLIST TEXTAREA
	%attrs;
    name CDATA #REQUIRED
    rows NUMBER #REQUIRED
    cols NUMBER #REQUIRED
    >

<!--======================= Tables ========================================-->

<!-- Invoke TABLES DTD  -->
<!ENTITY % ietables PUBLIC "-//Microsoft//DTD Internet Explorer 3.0 Tables//EN" >
%ietables;

<!--================ Document Head ========================================-->

<!ENTITY % head.misc "SCRIPT|STYLE|META|LINK|BGSOUND" -- repeatable head elements -->

<![ %HTML.Deprecated [
	<!ENTITY % head.content "TITLE & ISINDEX? & BASE? & NEXTID?">
]]>

<!ENTITY % head.content "TITLE & ISINDEX? & BASE?">

<!ELEMENT HEAD O O  (%head.content) +(%head.misc)>

<!ELEMENT TITLE - -  (#PCDATA)* -(%head.misc)
          -- The TITLE element is not considered part of the flow of text.
             It should be displayed, for example as the page header or
             window title.
          -->

<!ELEMENT ISINDEX - O EMPTY>
<!ATTLIST ISINDEX
	%attrs
    prompt	CDATA	#IMPLIED -- prompt message --
	action	CDATA	#IMPLIED >

<!--
    The BASE element gives an absolute URL for dereferencing relative
    URLs, e.g.

         <BASE href="http://foo.com/index.html">
         ...
         <IMG SRC="images/bar.gif">

    The image is deferenced to

         http://foo.com/images/bar.gif

   In the absence of a BASE element the document URL should be used.
   Note that this is not necessarily the same as the URL used to
   request the document, as the base URL may be overridden by an HTTP
   header accompanying the document.
-->

<!ELEMENT BASE - O EMPTY>
<!ATTLIST BASE
        href %URL  #REQUIRED
		target	CDATA	#IMPLIED
        >

<![ %HTML.Deprecated [
	<!ELEMENT NEXTID - O EMPTY>
	<!ATTLIST NEXTID
		N	CDATA #REQUIRED	>
]]>

<!ELEMENT META - O EMPTY -- Generic Metainformation -->
<!ATTLIST META
        http-equiv  NAME    #IMPLIED  -- HTTP response header name  --
        name        NAME    #IMPLIED  -- metainformation name       --
        content     CDATA   #REQUIRED -- associated information     --
		charset		CDATA	#IMPLIED
        >

<!-- SCRIPT/STYLE are place holders for transition to next version of HTML -->

<!ELEMENT STYLE  - - (#PCDATA)*  -(%head.misc) -- style info -->
<!ATTLIST STYLE
        type		CDATA	#IMPLIED
        title		CDATA	#IMPLIED   >

<!-- Script markup taken from WD-script-960208 found at
     http://www.w3.org/pub/WWW/TR/WD-script.html -->

<!-- SCRIPT is a character-like element for embedding script code
      that can be placed anywhere in the document HEAD or BODY -->

<!ENTITY % Event "CDATA" -- event name and optional param list -->

<!ELEMENT SCRIPT	- - (#PCDATA)*	 -(%head.misc)>
<!ATTLIST SCRIPT
	%attrs;
    type         CDATA    #IMPLIED -- script language media type --
    language     CDATA    #IMPLIED -- predefined script language name --
    src          %URL     #IMPLIED -- URL for an external script --
    name	     CDATA    #IMPLIED
	>

<!ELEMENT NOSCRIPT - - (%body.content)>
<!ATTLIST NOSCRIPT
	%attrs;
	>

<!--================ Document Structure ===================================-->

<!ENTITY % version.attr "VERSION CDATA #FIXED '%HTML.Version;'">

<!ELEMENT HTML O O  (HEAD, (BODY|FRAMESET) )>
<!ATTLIST HTML
		%attrs
        %version.attr
        >

<!-- Frames -->

<!ELEMENT FRAMESET	- -	(FRAMESET|FRAME|NOFRAMES)+ >
<!ATTLIST FRAMESET
	%attrs;
	layout	(TILES|PAGES)	TILES
	rows	CDATA	#IMPLIED
	cols	CDATA	#IMPLIED
	framespacing	CDATA	#IMPLIED
	frameborder	NUMBER	#IMPLIED
	>

<!ELEMENT FRAME	- O	EMPTY >
<!ATTLIST FRAME
	%attrs;
	src		CDATA	#REQUIRED
	name	CDATA	#IMPLIED
	height	NUMBER	#IMPLIED
	hspace	NUMBER	#IMPLIED
	width	NUMBER	#IMPLIED
	vspace	NUMBER	#IMPLIED
	marginwidth	NUMBER #IMPLIED	-- check this --
	marginheight	NUMBER #IMPLIED	-- check this --
	frameborder	CDATA	#IMPLIED	-- need to check with IE --
	framespacing	NUMBER	#IMPLIED
	scrolling	(YES|NO|AUTO)	AUTO
	noresize	(NORESIZE)	#IMPLIED
	align	(LEFT|CENTER|RIGHT|TOP|TEXTTOP|MIDDLE|ABSMIDDLE|
		BASELINE|BOTTOM|ABSBOTTOM)	#IMPLIED
	>

<!ELEMENT IFRAME	- O	EMPTY >
<!ATTLIST IFRAME
	%attrs;
	src		CDATA	#REQUIRED
	name	CDATA	#IMPLIED
	marginwidth	NUMBER #IMPLIED
	marginheight	NUMBER #IMPLIED
	border	CDATA	#IMPLIED
	frameborder	CDATA	#IMPLIED
	framespacing	NUMBER	#IMPLIED
	scrolling	(YES|NO|AUTO)	AUTO
	noresize	(NORESIZE)	#IMPLIED
	align	(LEFT|CENTER|RIGHT|TOP|MIDDLE|BOTTOM)	#IMPLIED
	>

<!ELEMENT NOFRAMES	- -	%body.content >

<!-- Objects 

Adapted from 
WD-object-960422: Inserting objects into HTM
http://www.w3.org/pub/WWW/TR/WD-object.html 
5/9/96 

-->

<!ENTITY % OAlign "(texttop|middle|textmiddle|baseline|
                            textbottom|left|center|right)">

<!-- OBJECT is a character-like element for inserting objects -->
<!ELEMENT OBJECT - - (PARAM | %body.content;)*>
<!ATTLIST OBJECT
        %attrs      -- id, class, style, lang, dir --
        declare (declare) #IMPLIED  -- declare but don't instantiate flag --
        classid %URL     #IMPLIED   -- identifies an implementation --
        codebase %URL    #IMPLIED   -- some systems need an additional URL --
        data    %URL     #IMPLIED   -- reference to object's data --
        type    CDATA    #IMPLIED   -- Internet media type for data --
        codetype CDATA   #IMPLIED   -- Internet media type for code --
        standby CDATA    #IMPLIED   -- message to show while loading --
        align   %OAlign	#IMPLIED   -- positioning inside document --
        height  %Length  #IMPLIED   -- suggested height --
        width   %Length  #IMPLIED   -- suggested width --
        border  %Length  #IMPLIED   -- suggested link border width --
        hspace  %Length  #IMPLIED   -- suggested horizontal gutter --
        vspace  %Length  #IMPLIED   -- suggested vertical gutter --
		ismap	(ismap)  #IMPLIED   -- use server image map --
        usemap  %URL     #IMPLIED   -- reference to image map --
        shapes  (shapes) #IMPLIED   -- object has shaped hypertext links --
        name    %URL     #IMPLIED   -- submit as part of form --
        >

<!ELEMENT PARAM - O EMPTY -- named property value -->
<!ATTLIST PARAM
        name      CDATA             #REQUIRED  -- property name --
        value     CDATA             #IMPLIED   -- property value --
        valuetype (DATA|REF|OBJECT) DATA       -- How to interpret value --
        type      CDATA             #IMPLIED   -- Internet media type --
        >

<![ %HTML.Deprecated [

<!ELEMENT EMBED - - (NOEMBED | %body.content;)* >
<!ATTLIST EMBED
	%attrs;
    name	CDATA	#IMPLIED
	height	CDATA	#IMPLIED
	width	CDATA	#IMPLIED
	param	CDATA	#IMPLIED
    src		%URL	#REQUIRED  -- URL of image to embed --
		>

<!ELEMENT NOEMBED	- -	EMPTY>

]]>


