htdocs/sgml-lib/iehtml.dtd

<!--	DTD for Internet Explorer 2.0 HTML

	Beta version: 0.9	Date: 3/4/96

	Document Type Definition for the HyperText Markup Language
	for Internet Explorer, V 2.0.

	Author: Mark Buckley <mbuckley@microsoft.com>

	This markup is based as much as possible on the DTD for HTML 2.0 
	published in the 12/95 IETF working draft. Table markup is based
	on the table DTD included in the HTML3 DTD, not the 12/95 tables
	draft.

	Note that SGML Document Access (SDA) fixed attributes have not 
	necessarily been worked out yet for added elements. 

	Principal changes from the IETF DTD:
	
	Took out the HTML.Highlighting and HTML.Forms marked sections. 
	Highlighting and form elements are now always included.

	Moved entity declarations for common content models together & up
	top in the DTD to allow for more effective recombination for the
	deprecated case.

	Moved DL into %lists for simplification.

	Added IE HTML extensions and most Netscape extensions.

	Changes since 2/26/96:

	3/4/96:
		Added BGSOUND to HEAD.


-->

<!ENTITY % HTML.Version "-//Microsoft//DTD Internet Explorer 2.0 HTML//EN" >


<!--============ Feature Test Entities ========================-->

<!ENTITY % HTML.Recommended "IGNORE"
	-- Certain features of the language are necessary for
	   compatibility with widespread usage, but they may
	   compromise the structural integrity of a document.
	   This feature test entity enables a more prescriptive
	   document type definition that eliminates
	   those features.
	-->

<![ %HTML.Recommended [
	<!ENTITY % HTML.Deprecated "IGNORE">
]]>

<!ENTITY % HTML.Deprecated "INCLUDE"
	-- Certain features of the language are necessary for
	   compatibility with earlier versions of the specification,
	   but they tend to be used and implemented inconsistently,
	   and their use is deprecated. This feature test entity
	   enables a document type definition that eliminates
	   these features.
	-->


<!--============== Imported Names ==============================-->

<!ENTITY % Content-Type "CDATA"
	-- meaning an internet media type
	   (aka MIME content type, as per RFC1521)
	-->

<!ENTITY % HTTP-Method "GET | POST"
	-- as per HTTP specification, in progress
	-->


<!--======= Character mnemonic entities =================-->

<!ENTITY % ISOlat1 PUBLIC
  "ISO 8879-1986//ENTITIES Added Latin 1//EN//HTML">
%ISOlat1;

<!ENTITY amp	CDATA	"&#38;"	-- ampersand	-->
<!ENTITY gt	CDATA	"&#62;"	-- greater than	-->
<!ENTITY lt	CDATA	"&#60;"	-- less than	-->
<!ENTITY quot	CDATA	"&#34;"	-- double quote	-->


<!ENTITY nbsp	SDATA	"[nbsp	]"	-- non-breaking space -->
<!ENTITY reg	SDATA	"&#174"		-- registered trademark symbol -->
<!ENTITY copy	SDATA	"&#169"		-- copyright symbol -->


<!--========= SGML Document Access (SDA) Parameter Entities =====-->

<!-- HTML 2.0 contains SGML Document Access (SDA) fixed attributes
in support of easy transformation to the International Committee
for Accessible Document Design (ICADD) DTD
	"-//EC-USA-CDA/ICADD//DTD ICADD22//EN".
ICADD applications are designed to support usable access to
structured information by print-impaired individuals through
Braille, large print and voice synthesis.  For more information on
SDA & ICADD:  
	- ISO 12083:1993, Annex A.8, Facilities for Braille,
	  large print and computer voice
	- ICADD ListServ
	  <ICADD%ASUACAD.BITNET@ARIZVM1.ccit.arizona.edu>
	- Usenet news group bit.listserv.easi
	- Recording for the Blind, +1 800 221 4792
-->

<!ENTITY % SDAFORM  "SDAFORM  CDATA  #FIXED"
	-- one to one mapping	-->
<!ENTITY % SDARULE  "SDARULE  CDATA  #FIXED"
	-- context-sensitive mapping -->
<!ENTITY % SDAPREF  "SDAPREF  CDATA  #FIXED"
	-- generated text prefix	-->
<!ENTITY % SDASUFF  "SDASUFF  CDATA  #FIXED"
	-- generated text suffix	-->
<!ENTITY % SDASUSP  "SDASUSP  NAME   #FIXED"
	-- suspend transform process -->

<!--========= Common attributes ============================================-->

<!ENTITY % attrs  -- common attributes. Taken from the HTML 3 DTD --
	'id	ID	#IMPLIED -- as target for hrefs (link ends) --
	 lang	CDATA   "en.us"  -- ISO language, country code --
	 class	NAMES  	#IMPLIED -- for subclassing elements --'>

<!--========= Common content models and element groups =====================-->


<!ENTITY % heading "H1|H2|H3|H4|H5|H6">

<!ENTITY % list "UL | OL | DL | DIR | MENU" >

<!ENTITY % mmobjects "IMG|MAP|FETCH|BGSOUND|MARQUEE" >

<!ENTITY % font "TT | B | I | U | STRIKE | FONT">

<![ %HTML.Deprecated [
	<!ENTITY % phrase "EM | STRONG | CODE | SAMP | KBD | VAR | CITE
		| DFN | ENTITY">
]]>

<!ENTITY % phrase "EM | STRONG | CODE | SAMP | KBD | VAR | CITE">

<!ENTITY % break	"BR | NOBR | WBR" >

<!ENTITY % text "#PCDATA | A | %mmobjects | %break | %phrase | %font">

<!ENTITY % block.forms "BLOCKQUOTE | FORM | ISINDEX">

<![ %HTML.Deprecated [
	<!ENTITY % preformatted "PRE | XMP | LISTING">
]]>

<!ENTITY % preformatted "PRE">

<![ %HTML.Deprecated [
<!ENTITY % block "P | TABLE
	| %list
	| %preformatted
	| %block.forms
	| COMMENT
	| CENTER">
]]>

<!ENTITY % block "P | TABLE
	| %list
	| %preformatted
	| %block.forms
	| CENTER">

<!ENTITY % mixed.content "(%heading|%text|%block|HR|ADDRESS|BASEFONT)*" >

<![ %HTML.Recommended [
	<!ENTITY % body.content	"(%heading|%block|%mmobjects|HR|ADDRESS|BASEFONT)*" >
]]>

<!ENTITY % body.content "%mixed.content" >

<![ %HTML.Recommended [
	<!ENTITY % font.content "(%text)*" >
]]>

<!ENTITY % font.content "(%body.content)*" >

<!ENTITY % flow "(%text|%block)*">


<!--========== Text Markup =====================-->
<!ELEMENT (%font)	- -	%font.content >
	
<!ELEMENT (%phrase)	- -	(%text)* >

<!ATTLIST FONT
	%attrs;
	SIZE	NUMBER	#IMPLIED
	COLOR	CDATA	#IMPLIED
	FACE	CDATA	#IMPLIED
	>

<!ATTLIST ( TT | CODE | SAMP | KBD | VAR )
	%attrs;
	%SDAFORM; "Lit"
	>
<!ATTLIST ( B | STRONG )
	%attrs;
	%SDAFORM; "B"
	>
<!ATTLIST ( I | EM | CITE )
	%attrs;
	%SDAFORM; "It"
	>

<!ATTLIST (U | STRIKE)
	%attrs;
	>

<![ %HTML.Deprecated [
<!ATTLIST (DFN | ENTITY)
	%attrs;
	>
]]>

<!-- <FONT>	Font					-->
<!-- <TT>	Typewriter text				-->
<!-- <B>	Bold text				-->
<!-- <I>	Italic text				-->
<!-- <U>	Underlined text				-->

<!-- <EM>	Emphasized phrase			-->
<!-- <STRONG>   Strong emphasis				-->
<!-- <CODE>	Source code phrase			-->
<!-- <SAMP>	Sample text or characters		-->
<!-- <KBD>	Keyboard phrase, e.g. user input	-->
<!-- <VAR>	Variable phrase or substitutable	-->
<!-- <CITE>	Name or title of cited work		-->

<!ENTITY % pre.content "#PCDATA | A | HR | BR | %font | %phrase">

<!ELEMENT BR	- O EMPTY>
<!ATTLIST BR
	%attrs;
	CLEAR	(ALL|LEFT|RIGHT)	#IMPLIED
	%SDAPREF;	"&#RE;"
	>

<!-- <BR>	Line break	-->

<!ELEMENT NOBR  - O EMPTY>
<!ATTLIST NOBR
	%attrs;
	>

<!-- <NOBR>	Disallow Line break	-->

<!ELEMENT WBR  - O EMPTY>
<!ATTLIST WBR
	%attrs;
	>

<!-- <WBR>	Word break	-->

<!--========= Link Markup ======================-->

<!ENTITY % linkType "NAMES">

<!ENTITY % linkExtraAttributes
	"REL	%linkType	#IMPLIED
	 REV	%linkType	#IMPLIED
	 URN	CDATA	#IMPLIED
	 TITLE	CDATA	#IMPLIED
	 METHODS NAMES	#IMPLIED
	">

<![ %HTML.Recommended [
	<!ENTITY % A.content   "(%text)*"
	-- <H1><a name="xxx">Heading</a></H1>
		is preferred to
	   <a name="xxx"><H1>Heading</H1></a>
	-->
]]>

<!ENTITY % A.content   "(%heading|%text)*">

<!ELEMENT A	- - %A.content -(A)>
<!ATTLIST A
	%attrs;
	HREF	CDATA	#IMPLIED
	NAME	CDATA	#IMPLIED
	X-SIZE	NUMBER	#IMPLIED
	NOCACHE	(NOCACHE)	#IMPLIED
	%linkExtraAttributes;
	%SDAPREF; "<Anchor: #AttList>"
	>
<!-- <A>		Anchor; source/destination of link	-->
<!-- <A NAME="...">	Name of this anchor			-->
<!-- <A HREF="...">	Address of link destination		-->
<!-- <A URN="...">	Permanent address of destination	-->
<!-- <A REL=...>	Relationship to destination		-->
<!-- <A REV=...>	Relationship of destination to this 	-->
<!-- <A TITLE="...">	Title of destination (advisory)		-->
<!-- <A METHODS="...">	Operations on destination (advisory)	-->


<!--========== Images ==========================-->

<!ELEMENT IMG	- O EMPTY>
<!ATTLIST IMG
	%attrs;
	SRC	CDATA	#REQUIRED
	DYNSRC	CDATA	#IMPLIED
	LOOP	NMTOKEN	#IMPLIED
	START	CDATA	#IMPLIED
	BORDER	NUMBER	#IMPLIED
	ALT	CDATA	#IMPLIED
	ALIGN	(LEFT|RIGHT|TOP|TEXTTOP|MIDDLE|ABSMIDDLE|
		BASELINE|BOTTOM|ABSBOTTOM)	#IMPLIED
		-- Values supported by IE2: 
		(LEFT|RIGHT|TOP||MIDDLE|BOTTOM) --
	ISMAP	(ISMAP)	#IMPLIED
	USEMAP	CDATA	#IMPLIED
	HEIGHT	CDATA	#IMPLIED
	WIDTH	CDATA	#IMPLIED
	VSPACE	NUMBER	#IMPLIED
	HSPACE	NUMBER	#IMPLIED
	CONTROLS	(CONTROLS)	#IMPLIED
	VRML	CDATA	#IMPLIED
	%SDAPREF; "<Fig><?SDATrans Img: #AttList>#AttVal(Alt)</Fig>"
	>

<!-- <IMG>		Image; icon, glyph or illustration	-->
<!-- <IMG SRC="...">	Address of image object			-->
<!-- <IMG ALT="...">	Textual alternative			-->
<!-- <IMG ALIGN=...>	Position relative to text		-->
<!-- <IMG ISMAP>	Each pixel can be a link		-->

<!ELEMENT MAP	- - (AREA)+>
<!ATTLIST MAP
	%attrs;
	NAME	CDATA	#REQUIRED
	>
		
<!-- <MAP>	Map	-->

<!ELEMENT AREA	- O EMPTY>
<!ATTLIST AREA
	%attrs;
	COORDS	CDATA	#IMPLIED
	HREF	CDATA	#IMPLIED
	NOHREF	(NOHREF)	#IMPLIED
	SHAPE	(RECT|RECTANGLE|CIRC|CIRCLE|POLY|POLYGON)	#IMPLIED
	ALT	CDATA	#IMPLIED
	>
		
<!-- <AREA>	Area	-->

<!ELEMENT FETCH	- O EMPTY>
<!ATTLIST FETCH
	%attrs;
	DESC	CDATA	#IMPLIED
	GUID	CDATA	#IMPLIED
	REQUIRED	CDATA	#IMPLIED
	SRC	CDATA	#IMPLIED
	TS	CDATA	#IMPLIED
	>
		
<!-- <FETCH>	Fetc	-->

<!--========== Paragraphs=======================-->

<!ELEMENT P	- O (%text|CENTER)*>
<!ATTLIST P
	%attrs;
	%SDAFORM; "Para"
	ALIGN (CENTER)	#IMPLIED	
	>

<!-- <P>	Paragraph	-->


<!--========== Headings, Titles, Sections ===============-->

<!ELEMENT HR	- O EMPTY>
<!ATTLIST HR
	%attrs;
	%SDAPREF; "&#RE;&#RE;"
	SIZE	NUMBER	#IMPLIED
	WIDTH	CDATA	#IMPLIED
	ALIGN	(LEFT|RIGHT|CENTER)	#IMPLIED
	NOSHADE	(NOSHADE)	#IMPLIED  -- Not supported by IE2 --
	>

<!-- <HR>	Horizontal rule -->

<!ELEMENT ( %heading )  - -  (%text;|CENTER)*>
<!ATTLIST H1
	%attrs;
	ALIGN (CENTER)	#IMPLIED	
	%SDAFORM; "H1"
	>
<!ATTLIST H2
	%attrs;
	ALIGN (CENTER)	#IMPLIED	
	%SDAFORM; "H2"
	>
<!ATTLIST H3
	%attrs;
	ALIGN (CENTER)	#IMPLIED	
	%SDAFORM; "H3"
	>
<!ATTLIST H4
	%attrs;
	ALIGN (CENTER)	#IMPLIED	
	%SDAFORM; "H4"
	>
<!ATTLIST H5
	%attrs;
	ALIGN (CENTER)	#IMPLIED	
	%SDAFORM; "H5"
	>
<!ATTLIST H6
	%attrs;
	ALIGN (CENTER)	#IMPLIED	
	%SDAFORM; "H6"
	>

<!-- <H1>	Heading, level 1 -->
<!-- <H2>	Heading, level 2 -->
<!-- <H3>	Heading, level 3 -->
<!-- <H4>	Heading, level 4 -->
<!-- <H5>	Heading, level 5 -->
<!-- <H6>	Heading, level 6 -->


<!--========== Text Flows ======================-->


<!ELEMENT PRE - - (%pre.content)*>
<!ATTLIST PRE
	%attrs;
	WIDTH	CDATA #implied
	%SDAFORM; "Lit"
	>

<!-- <PRE>		Preformatted text		-->
<!-- <PRE WIDTH=...>	Maximum characters per line	-->

<![ %HTML.Deprecated [

<!ENTITY % literal "CDATA"
	-- historical, non-conforming parsing mode where
	   the only markup signal is the end tag
	   in full
	-->

<!ELEMENT (XMP|LISTING) - -  %literal>
<!ATTLIST XMP
	%attrs;
	%SDAFORM; "Lit"
	%SDAPREF; "Example:&#RE;"
	>
<!ATTLIST LISTING
	%attrs;
	%SDAFORM; "Lit"
	%SDAPREF; "Listing:&#RE;"
	>

<!-- <XMP>	Example section		-->
<!-- <LISTING>	Computer listing	-->

<!ELEMENT PLAINTEXT - O %literal>
<!-- <PLAINTEXT>	Plain text passage	-->

<!ATTLIST PLAINTEXT
	%attrs;
	%SDAFORM; "Lit"
	>
]]>


<!--========== Lists ==================-->

<!ELEMENT DL	- -  (DT | DD)+>
<!ATTLIST DL
	%attrs;
	COMPACT (COMPACT)	#IMPLIED
	%SDAFORM; "List"
	%SDAPREF; "Definition List:"
	>

<!ELEMENT DT	- O (%text)*>
<!ATTLIST DT
	%attrs;
	%SDAFORM; "Term"
	>

<!ELEMENT DD	- O %flow>
<!ATTLIST DD
	%attrs;
	%SDAFORM; "LItem"
	>

<!-- <DL>		Definition list, or glossary	-->
<!-- <DL COMPACT>	Compact style list		-->
<!-- <DT>		Term in definition list		-->
<!-- <DD>		Definition of term		-->

<!ELEMENT (OL|UL) - -  (LI)+>
<!ATTLIST OL
	%attrs;
	COMPACT	(COMPACT)	#IMPLIED
	%SDAFORM; "List"
	TYPE	CDATA	#IMPLIED
	START   NUMBER 	#IMPLIED
	>
<!ATTLIST UL
	%attrs;
	COMPACT	(COMPACT)	#IMPLIED
	%SDAFORM; "List"
	TYPE	(DISC|CIRCLE|SQUARE)	#IMPLIED -- Not supported by IE2 --
	>
<!-- <UL>		Unordered list			-->
<!-- <UL COMPACT>	Compact list style		-->
<!-- <OL>		Ordered, or numbered list	-->
<!-- <OL COMPACT>	Compact list style		-->


<!ELEMENT (DIR|MENU) - -  (LI)+ -(%block)>
<!ATTLIST DIR
	%attrs;
	COMPACT	(COMPACT)	#IMPLIED
	%SDAFORM; "List"
	%SDAPREF; "<LHead>Directory</LHead>"
	>
<!ATTLIST MENU
	%attrs;
	COMPACT (COMPACT)	#IMPLIED
	%SDAFORM; "List"
	%SDAPREF; "<LHead>Menu</LHead>"
	>

<!-- <DIR>		Directory list	-->
<!-- <DIR COMPACT>	Compact list style		-->
<!-- <MENU>		Menu list		-->
<!-- <MENU COMPACT>	Compact list style		-->

<!ELEMENT LI	- O %flow>
<!ATTLIST LI
	%attrs;
	%SDAFORM; "LItem"
 	TYPE	CDATA	#IMPLIED
	VALUE   NUMBER 	#IMPLIED
	>

<!-- <LI>		List item		-->

<!--========== Document Body ===================-->

<!ELEMENT BODY O O  %body.content >
<!ATTLIST  BODY
	%attrs;
	BACKGROUND	CDATA	#IMPLIED
	BGCOLOR		CDATA	#IMPLIED
	BGPROPERTIES	CDATA	#IMPLIED
	LEFTMARGIN	NUMBER	#IMPLIED
	TOPMARGIN	NUMBER	#IMPLIED
	TEXT		CDATA	#IMPLIED
	LINK		CDATA	#IMPLIED
	VLINK		CDATA	#IMPLIED
	ALINK		CDATA	#IMPLIED
	>

<!-- <BODY>	Document body   -->


<!ELEMENT CENTER	- -	%mixed.content >
<!ATTLIST CENTER
	%attrs;
	%SDAFORM; "Para"
	>

<!-- <CENTER>	Center	-->

<![ %HTML.Deprecated [
<!ELEMENT COMMENT	- -	(%text|CENTER)*>

<!-- <COMMENT>	Comment	-->
]]>

<!ELEMENT BASEFONT	- O EMPTY>
<!ATTLIST BASEFONT
	%attrs;
	SIZE	NUMBER	#IMPLIED
	COLOR	CDATA	#IMPLIED
	FACE	CDATA	#IMPLIED
	>

<!-- <BASEFONT>	Basefont	-->

<!ELEMENT BGSOUND  - O EMPTY>
<!ATTLIST BGSOUND
	%attrs;
	SRC	CDATA	#IMPLIED
	LOOP	NMTOKEN	#IMPLIED
	>

<!-- <BGSOUND>	Background sound. 
	Only one background sound should exist in a document. -->

<!ELEMENT MARQUEE  - O (%text)*>
<!ATTLIST MARQUEE
	%attrs;
	ALIGN (TOP|MIDDLE|BOTTOM) MIDDLE	-- is this the right default? --
	DIRECTION	(LEFT|RIGHT)	LEFT
	BEHAVIOR	(SCROLL|SLIDE|ALTERNATE)	SCROLL
	SCROLLAMOUNT	NUMBER	#IMPLIED
	SCROLLDELAY	NUMBER	#IMPLIED
	LOOP	CDATA	"INFINITE"	-- is this the right default? --
	BGCOLOR	CDATA	#IMPLIED
	BORDER	NUMBER	#IMPLIED
	HEIGHT	CDATA	#IMPLIED
	WIDTH	CDATA	#IMPLIED
	HSPACE	NUMBER	#IMPLIED
	VSPACE	NUMBER	#IMPLIED
	>

<!-- <MARQUEE>	Marquee	-->

<!ELEMENT BLOCKQUOTE - - %body.content>
<!ATTLIST BLOCKQUOTE
	%attrs;
	%SDAFORM; "BQ"
	>

<!-- <BLOCKQUOTE>	Quoted passage  -->

<!ELEMENT ADDRESS - - (%text|P|CENTER)*>
<!ATTLIST  ADDRESS
	%attrs;
	%SDAFORM; "Lit"
	%SDAPREF; "Address:&#RE;"
	>

<!-- <ADDRESS>	Address, signature, or byline	-->


<!--======= Forms ====================-->

<!ELEMENT FORM - - %body.content -(FORM) +(INPUT|SELECT|TEXTAREA)>
<!ATTLIST FORM
	%attrs;
	ACTION	CDATA	#IMPLIED
	METHOD (%HTTP-Method) GET
	ENCTYPE %Content-Type; "application/x-www-form-urlencoded"
	%SDAPREF; "<Para>Form:</Para>"
	%SDASUFF; "<Para>Form End.</Para>"
	>

<!-- <FORM>			Fill-out or data-entry form	-->
<!-- <FORM ACTION="...">	Address for completed form	-->
<!-- <FORM METHOD=...>		Method of submitting form	-->
<!-- <FORM ENCTYPE="...">	Representation of form data	-->

<!ENTITY % InputType "(TEXT | PASSWORD | CHECKBOX |
	RADIO | SUBMIT | RESET |
	IMAGE | HIDDEN )">
<!ELEMENT INPUT - O EMPTY>
<!ATTLIST INPUT
	%attrs;
	TYPE %InputType TEXT
	NAME	CDATA	#IMPLIED
	VALUE	CDATA	#IMPLIED
	SRC	CDATA	#IMPLIED
	CHECKED (CHECKED)	#IMPLIED
	SIZE	CDATA	#IMPLIED
	MAXLENGTH NUMBER	#IMPLIED
	ALIGN (TOP|MIDDLE|BOTTOM)	#IMPLIED
	%SDAPREF; "Input: "
	>

<!-- <INPUT>			Form input datum		-->
<!-- <INPUT TYPE=...>		Type of input interaction	-->
<!-- <INPUT NAME=...>		Name of form datum		-->
<!-- <INPUT VALUE="...">	Default/initial/selected value	-->
<!-- <INPUT SRC="...">		Address of image		-->
<!-- <INPUT CHECKED>		Initial state is "on"		-->
<!-- <INPUT SIZE=...>		Field size hint			-->
<!-- <INPUT MAXLENGTH=...>	Data length maximum		-->
<!-- <INPUT ALIGN=...>		Image alignment			-->

<!ELEMENT SELECT - - (OPTION+) -(INPUT|SELECT|TEXTAREA)>
<!ATTLIST SELECT
	%attrs;
	NAME	CDATA #REQUIRED
	SIZE NUMBER	#IMPLIED
	MULTIPLE (MULTIPLE)	#IMPLIED
	%SDAFORM; "List"
	%SDAPREF;
	"<LHead>Select #AttVal(Multiple)</LHead>"
	>

<!-- <SELECT>			Selection of option(s)		-->
<!-- <SELECT NAME=...>		Name of form datum		-->
<!-- <SELECT SIZE=...>		Options displayed at a time	-->
<!-- <SELECT MULTIPLE>		Multiple selections allowed	-->

<!ELEMENT OPTION - O (#PCDATA)*>
<!ATTLIST OPTION
	%attrs;
	SELECTED (SELECTED)	#IMPLIED
	VALUE	CDATA	#IMPLIED
	%SDAFORM; "LItem"
	%SDAPREF;
	"Option: #AttVal(Value) #AttVal(Selected)"
	>

<!-- <OPTION>			A selection option		-->
<!-- <OPTION SELECTED>		Initial state			-->
<!-- <OPTION VALUE="...">	Form datum value for this option-->

<!ELEMENT TEXTAREA - - (#PCDATA)* -(INPUT|SELECT|TEXTAREA)>
<!ATTLIST TEXTAREA
	%attrs;
	NAME	CDATA #REQUIRED
	ROWS NUMBER #REQUIRED
	COLS NUMBER #REQUIRED
	%SDAFORM; "Para"
	%SDAPREF; "Input Text -- #AttVal(Name): "
	>

<!-- <TEXTAREA>			An area for text input		-->
<!-- <TEXTAREA NAME=...>	Name of form datum		-->
<!-- <TEXTAREA ROWS=...>	Height of area			-->
<!-- <TEXTAREA COLS=...>	Width of area			-->


<!--======= Document Head ======================-->

<![ %HTML.Recommended [
	<!ENTITY % head.extra "">
]]>
<!ENTITY % head.extra "& NEXTID?">

<!ENTITY % head.content "TITLE & ISINDEX? & BASE? %head.extra">

<!ELEMENT HEAD O O  ((%head.content),BGSOUND*) +(META|LINK)>

<!-- <HEAD>	Document head   -->

<!ELEMENT TITLE - -  (#PCDATA)*  -(META|LINK)>
<!ATTLIST TITLE
	%attrs;
	%SDAFORM; "Ti"	>

<!-- <TITLE>	Title of document -->

<!ELEMENT LINK - O EMPTY>
<!ATTLIST LINK
	HREF	CDATA #REQUIRED
	%linkExtraAttributes;
	%SDAPREF; "Linked to : #AttVal (TITLE) (URN) (HREF)>"	>

<!-- <LINK>		Link from this document			-->
<!-- <LINK HREF="...">	Address of link destination		-->
<!-- <LINK URN="...">	Lasting name of destination		-->
<!-- <LINK REL=...>	Relationship to destination		-->
<!-- <LINK REV=...>	Relationship of destination to this 	-->
<!-- <LINK TITLE="...">	Title of destination (advisory)		-->
<!-- <LINK METHODS="..."> Operations allowed (advisory)		-->

<!ELEMENT ISINDEX - O EMPTY>
<!ATTLIST ISINDEX
	%attrs;
	%SDAPREF;
		"<Para>[Document is indexed/searchable.]</Para>"
	PROMPT	CDATA	#IMPLIED
	ACTION	CDATA	#IMPLIED
	>

<!-- <ISINDEX>	Document is a searchable index	-->

<!ELEMENT BASE - O EMPTY>
<!ATTLIST BASE
	%attrs;
	HREF	CDATA #REQUIRED	>

<!-- <BASE>		Base context document		-->
<!-- <BASE HREF="...">  Address for this document		-->

<![ %HTML.Deprecated [
<!ELEMENT NEXTID - O EMPTY>
<!ATTLIST NEXTID
	%attrs;
	N	CDATA #REQUIRED	>

<!-- <NEXTID>		Next ID to use for link name		-->
<!-- <NEXTID N=...>	Next ID to use for link name		-->
]]>

<!ELEMENT META - O EMPTY>
<!ATTLIST META
	HTTP-EQUIV  NAME	#IMPLIED
	NAME	NAME	#IMPLIED
	CONTENT	CDATA   #REQUIRED	>

<!-- <META>			Generic Meta-information	-->
<!-- <META HTTP-EQUIV=...>	HTTP response header name	-->
<!-- <META NAME=...>	Meta-information name	-->
<!-- <META CONTENT="...">	Associated information	-->

<!--======= Document Structure =================-->

<![ %HTML.Deprecated [
	<!ENTITY % html.content "HEAD, BODY, PLAINTEXT?">
]]>
<!ENTITY % html.content "HEAD, BODY">

<!ELEMENT HTML O O  (%html.content)>
<!ENTITY % version.attr "VERSION CDATA #FIXED '%HTML.Version;'">

<!ATTLIST HTML
	%version.attr;
	%SDAFORM; "Book"
	>

<!-- <HTML>			HTML Document	-->

<!-- Invoke TABLES DTD  -->
<!ENTITY % ietables PUBLIC "-//Microsoft//DTD Internet Explorer 2.0 Tables//EN" >
%ietables;
